@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
    font-size: 40px;
}

button {
    justify-content: center;
    text-align: center;
    background-color: brown;
    color: azure;
    font-family: 'VT323', monospace;
    font-size: 30px;
    margin: 5%;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#background_img {
    height: 100vh;
    width: 60%;
    margin: 0% 20%;
    background: url('../images/gamer_background.png') no-repeat center center;
    background-size: cover;
}

.game_box {
    margin: 20% 10%;
    padding: 10%;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.8);
    display: flexbox;
    flex-direction: column;
    border-radius: 50%;
    border: 5px solid white;
}