@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
    font-size: 40px;
}

button {
    background-color: brown;
    color: azure;
    font-family: 'VT323', monospace;
    font-size: 40px;
}

#background_img {
    height: 100vh;
    width: 60%;
    margin: 0% 20%;
    background: url('../images/gamer_background.png') no-repeat center center;
    background-size: cover;
}