@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
    font-size: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

#gamePage {
    margin: 25%;
    margin-top: 5%;
    height: 100%;
    width: 100%;
    background: url('../images/gamer_background.png') no-repeat center center;
    background-size: cover;
}


button {
    border: 5px solid black;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.knockout_number {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
}

#buttons {
    width: 600px;
    text-align: center;
    justify-content: center;
}


#rollDice {
    width: 100px;
    height: 100px;
    margin: 10%;
}

#rollDice p {
    color: red;
}

.nr_choice {
    width: 100px;
    height: 100px;
    font-size: 80px;
}

.nr_choice p {
    padding: 0;
    margin: 0;
}

p {
    color: white;
}

div {
    color: white;
}

#dices {
    display: inline;
}

#dice_1 {
    display: inline;
    border: 5px solid rgb(255, 0, 0);
    height: 80px;
    width: 80px;
    padding: 5%;
}

#dice_2 {
    display: inline;
    border: 5px solid rgb(255, 0, 0);
    padding: 5%;
    margin: 1%;
}